sentence-transformers==3.4.1
onnx==1.17.0
torch==2.6.0
scikit-learn==1.6.1
mlflow==2.16.2
evidently==0.6.7
ray==2.44.1
lightning==2.5.1
numpy==1.26.4
pandas==2.1.4
tqdm==4.67.1
python-dotenv==1.1.0
pydantic==2.11.1
pyyaml==6.0.2
loguru==0.7.3
hyperopt==0.2.7
dill==0.3.8
boto3==1.37.1